<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>servlets.login.SignInServlet</servlet-class>
        <init-param>
            <param-name>userName</param-name>
            <param-value>admin@reval.com</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Test123</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signinServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>servlets.SendEmailServlet</servlet-class>
        <init-param>
            <param-name>from</param-name>
            <param-value>saurabh.kumar@reval.com</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>secure16+x</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Signin.html</welcome-file>
    </welcome-file-list>
</web-app>