<!DOCTYPE html>
<html ng-app="sampleApp" lang="en" class="no-js">
<div ng-include="'DraftEmail.html'"></div>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- since there could be dependencies problem, maintain the inculsion order -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <title>Compose Email</title>
</head>
<body>
<script type="text/ng-template" id="DraftEmail.html">
    <div style="margin: 10px;">
        <div class="modal-header">
            New Message
        </div>
        <div ng-controller="GenerateDiscrepancyController">
            <form>
                Recipients<input type="text" name="to" class="form-control" id="inputdefault" placeholder="Recipients" value={{items.empEmailId}} style="width:95%;"><br />
                Subject <input class="form-control input-lg" name="subject" id="inputlg" type="text" placeholder="Subject" value="Mail Regarding Discrepancies" style="width:95%;"><br />
                <textarea name="message" style="width:95%;" rows="10">
                    Hi,
                    Discrepancies found in the attendance system:
                    <table name="emplistTable" class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>EMPLOYEE ID</th>
                            <th>SALESFORCE ID</th>
                            <th>EMPLOYEE EMAILS</th>
                            <th>AVERAGE CHECK-IN</th>
                            <th>AVERAGE CHECK-OUT</th>
                            <th>AVERAGE WORK HOURS</th>
                            <th>CLARIFICATION NEEDED</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>{{items.empRevalId}}</td>
                            <td>{{items.empSalesforceId}}</td>
                            <td>{{items.empEmailId}}</td>
                            <td>{{items.empAvgCheckInTimeForMonth}}</td>
                            <td>{{items.empAvgCheckOutTimeForMonth}}</td>
                            <td>{{items.empAvgWorkHoursForMonth}}</td>
                            <td>{{items.empIfClarificationNeeded}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-condensed"><thead>
                        <tr>

                            <th>Current Date</th>
                            <th>Attendance Type</th>
                            <th>Leave Type</th>
                            <th>CheckInTime</th>
                            <th>CheckOutTime</th>
                            <th>Total Work Hours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="day in items.allDateDetailsList">
                            <td> {{day.currentDate | date}}</td>
                            <td> {{day.attendanceStatusType}}</td>
                            <td> {{day.leaveTypeForThisDate}}</td>
                            <td> {{day.checkIn}}</td>
                            <td>{{day.checkOut}}</td>
                            <td>{{day.workTimeForDay}}</td>
                        </tr>
                        </tbody>
                    </table>
                </textarea>
            </form>

            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Close</button>
                <button class="btn btn-primary" ng-click="email">Send</button>

                <br/>
            </div>
        </div>
    </div>
</script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jQuery-menu-aim/jquery.menu-aim.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>