<!DOCTYPE html>
<html ng-app="sampleApp" ng-controller="GeneratePublicHolidayController" lang="en" class="no-js">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

     <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <!-- <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- since there could be dependencies problem, maintain the inculsion order -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/app.js"></script>
    <style type="text/css" media="screen">
        .click:hover {
            text-decoration: underline;
        }
    </style>

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->

    <!--    <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>-->
    <title>List of Employees Who Worked on Public Holidays</title>
</head>
<body>

<main class="cd-main-content">
    <div class="content-wrapper">
        <br>
        <h2 style="text-align: center">
            List of Employees Who Worked on Public Holidays
        </h2>

        <br><br>
        <!--
                <form action="multigen" method="post">
                    <input type="hidden" name="fileToUse" value="PublicHolidayWorkers">
                    <button class="btn btn-danger" style="float: right;" type="submit" ng-click="showSelected()"
                            value="DOWNLOAD PUBLIC HOLIDAY REP0RT">
                        <input type="hidden" name="listOfIds" value={{itemsSelected}}>
                        DOWNLOAD PUBLIC HOLIDAY REPORT
                    </button>
                </form>
        -->

        <form>
            <br/>
            <br/>
            <br/>
            <!--     <button class="btn btn-primary" style="float: right;" type="submit" value="DOWNLOAD DISCREPANCY REP0RT"
                         onclick="location.href='./GenerateDiscrepancy.html';">SEND EMAIL
                 </button> -->
            <br/>
            <br/>
            <br/>

            <table name="empListTable" class="table table-responsive table-striped">
                <thead class="thead-inverse">
                <tr style="font-weight:bolder;">
                    <!--      <th style="width: 40px">
                              <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"/>
                          </th> -->
                    <th style="width: 2em">DATE [HOLIDAY]</th>
                    <th style="width: 1em">EMPLOYEE ID</th>
                    <th style="width: 1em">SALESFORCE ID</th>
                    <th style="width: 1em">EMPLOYEE NAMES</th>
                    <th style="width: 2em">EMPLOYEE EMAILS</th>
                    <th style="width: 1em">CHECK-IN</th>
                    <th style="width: 1em">CHECK-OUT</th>
                    <th style="width: 1em">WORK HOURS</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in rowCollection">
                    <!--
                                        <td><input type="checkbox" ng-bind="modelName" ng-model="item.Selected"
                                                   ng-click="checkStatus()"></td>
                        -->
                    <td>{{item.subMenuAttendanceOfDate.currentDate}} <em>[{{item.holiday}}]</em></td>
                    <td ng-model="item.empRevalId">{{item.basicEmployeeDetails.empId}}</td>
                    <td>{{item.basicEmployeeDetails.salesForceId}}</td>
                    <td>{{item.basicEmployeeDetails.emailId}}</td>
                    <td>{{item.basicEmployeeDetails.name}}</td>
                    <td>{{item.subMenuAttendanceOfDate.checkIn}}</td>
                    <td>{{item.subMenuAttendanceOfDate.checkOut}}</td>
                    <td>{{item.subMenuAttendanceOfDate.workTimeForDay}}</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div> <!-- .content-wrapper -->
</main> <!-- .cd-main-content -->
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
